
@{
    ViewBag.Title = "Completed";
}

    <div class="container text-center my-5">
        <h2>Order Completed!</h2>
        <h4>The products you purchased will be shipped within two days</h4>
    </div>
 

